.price-for-company
	position: relative
	overflow: hidden
	background-color: rgba(0, 0, 0, 0.6)
	h2.subtitle
		margin-top: 20px
		text-align: center
		color: $text-white
	img
		position: absolute
		z-index: -1
		width: 100%
		height: auto
		opacity: 0.4

.package-wrap
	z-index: 2
	max-width: 1000px
	display: flex
	justify-content: space-between
	margin: auto
	margin-top: 20px
.package-container
	border: 1px solid $d-green
	width: 300px
	.package-headline
		background-color: $d-green
		height: 60px
		//border-top-left-radius: 10px
		//border-top-right-radius: 10px
		text-align: center
		line-height: 60px
		color: white
	p 
		margin: 10px
		font-size: 18px
		color: $text-white
.price-package-explanation
	width: 50%
	text-align: center
	margin: 30px auto
	color: $text-black

@media (max-width: 775px)
	.price-for-company
		img
			display: none
		h2.subtitle
			font-size: 21px
			width: 300px
			margin: auto 
	.package-wrap
		flex-direction: column
		justify-content: space-around
	.package-container
		margin: 10px auto
	.price-package-explanation
		width: 80%