.contact-section
	background: $clouds
	text-align: center
	padding-bottom: 40px
	h1
		margin: auto
		padding-top: 40px
		font-size: 36px
		font-weight: 100
		color: $text-black
	h2
		margin: 20px
		font-size: 36px
		font-weight: 500
		color: $text-black
		opacity: 0.5
		
	.flat-button
		padding: 40px auto
		a 
			color: $l-green
			font-weight: 700
			font-size: 24px