.target-clients
	background-color: $clouds
	text-align: center
	padding-bottom: 40px
	h1
		font-size: 36px
		font-weight: 100
		color: $text-black
		padding-top: 40px
		padding-bottom: 40px

.category-wrap
	margin: auto
	display: flex
	justify-content: center

.category
	text-align: center
	margin: 0 25px
	width: 300px
	display: inline-block
	img
		//display: block 
		margin: auto
	h2
		margin-top: 40px
		margin-bottom: 25px
		font-size: 21px
		font-weight: 300
		color: $text-black	
		
	.button
		margin: auto
		background-color: $d-green	

@media (max-width: 1060px)
		.category
			width: 200px
			img
				width: 200px
				height: auto

@media (max-width: 775px) and (min-width: 421px)
	.category-wrap
		width: 100%
		justify-content: initial
		display: block
	.category
		text-align: left
		margin: auto
		margin-top: 40px
		display: flex
		width: calc(100% - 50px)
		img
			width: 255px
			height: auto
		.text-wrap
			margin-left: 20px
			margin-top: 0px
		h2
			margin-top: 0px
		.button
			margin-left: 0px
@media( max-width: 420px)
	.target-clients h1
		font-size: 24px
	.category-wrap
		display: flex
		flex-direction: column
	.category
		width: 100%
		margin: 10px auto
		justify-content: center
		text-align: center
		.button
			margin: auto
	.text-wrap
		width: 80%
		margin: auto
		h2
			margin-top: 10px

		
