.welcome-section
	height: 500px
	background-color: #c9c9c9
	width: 100%
	display: flex
	justify-content: center
	flex-direction: column
	border-bottom: 1px solid $l-green
	border-top: 1px solid $l-green
	
	h1
		margin-left: 100px
		font-family: $roboto-slab
		font-size: 72px
		font-weight: 100