.pretplata-responsive-section
	display: flex
	margin: 0px 100px
.responsive-section-text, .responsive-section-img
	width: 50%
	overflow: hidden
.responsive-section-img
	background-color: white
	img
		opacity: 0.8
.responsive-section-text
	p 
		font-size: 18px
		font-weight: 400
		color: $text-black
		margin-top: 10px