.pretplata-welcome-section
	text-align: center
	margin: 0px 100px
	h1
		font-size: 36px
		font-weight: 300
		color: $text-black
		padding-top: 40px
		padding-bottom: 10px

.subtitle
	font-weight: 300
	color: $text-black

.problem-explanation
	width: 50%
	text-align: left
	margin-top: 80px
	.subheading
		font-size: 3.5rem
		line-height: 3.5rem
		font-family: 'Kanit', sans-serif
	p
		margin-top: 10px
		margin-bottom: 10px
		font-size: 18px
		color: $text-black
		font-weight: 400
	a
		margin-top: 40px

.subheading
	font-size: 3.5rem
	line-height: 3.5rem
	font-family: 'Kanit', sans-serif
	color: $text-black
	font-weight: 900
.problem-solution
	width: 50%
	margin-top: 80px
	background: white
	overflow: hidden
	img
		opacity: 0.5
		height: 90%

.problem-wrap
	display: flex


@media (max-width: 775px)
	.subheading
		font-size: 2.5rem
		line-height: 2.5rem
		font-family: 'Kanit', sans-serif
		color: $text-black
		font-weight: 900
	.pretplata-welcome-section
		margin: 0px 20px
		h1
			font-size: 24px
	.problem-explanation
		width: 100%
		.subheading
			font-size: 2.5rem
			line-height: 2.5rem
	.problem-solution
		display: none
	
	